/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow: hidden; /* Управляем скроллом через transform */
  }
  
  /* Обёртка для секций с плавным переходом */
  #wrapper {
    height: 100%;
    transition: transform 2s ease-in-out; /* Плавное перемещение за 2 сек */
  }
  
  /* Стили для секций */
  .section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url('IMG_2129.JPG');
  }
  
  .section2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url('IMG_1773.JPG');
  }
  
  /* Стили для текстового блока */
  .text-block {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 8px;
    text-shadow: 2px 2px black ;
  }
  
  /* Адаптивность */
  @media (min-width: 768px) {
    .text-block {
      font-size: 10rem;
    }
  }
  
  @media (max-width: 767px) {
    .text-block {
      font-size: 8rem;
    }
  }
  